In [1]:
import pandas as pd

In [2]:
import html5lib

In [3]:
A = pd.read_html('https://www.chairs-chaires.gc.ca/chairholders-titulaires/index-eng.aspx')

In [6]:
print(type(A))

<class 'list'>

In [10]:
B = A[0]
print(B)

                         Unnamed: 0  \
0                          Province
1                        University
2                  Granting council
3                        Discipline
4  Researcher  (first or last name)
5                        Keyword(s)
6                               NaN

                                          Unnamed: 1
0  All Provinces \tAlberta \tBritish Columbia \tM...
1  All Universities \tAcadia University \tAlgoma ...
2  All Subjects \tCanadian Institutes of Health R...
3  All Disciplines \tAccidents, Poisoning, Violen...
4                                                NaN
5                                                NaN
6                                                NaN

In [13]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\Yash Bikash\\Desktop\\Python_learn'

In [15]:
file = "C:\\Users\\Yash Bikash\\Desktop\\Python_learn\\Professors from Ontario.xlsx"

In [16]:
x = pd.ExcelFile(file)

In [17]:
print(x.sheet_names)

['Sheet1']

In [20]:
df = x.parse('Sheet1')
df.head(10)

,Name,Tier,University,Granting Council,Research Discipline
0,"Bansal, Pratima",1.0,Western University,Social Sciences and Humanities Research Council,"Management, Business, Administrative Studies"
1,"Bauer, Andrew M",2.0,University of Waterloo,Social Sciences and Humanities Research Council,"Management, Business, Administrative Studies"
2,"Beamish, Paul",1.0,Western University,Social Sciences and Humanities Research Council,"Management, Business, Administrative Studies"
3,"Connelly, Brian S.",2.0,University of Toronto,Social Sciences and Humanities Research Council,"Management, Business, Administrative Studies"
4,"Connelly, Catherine",2.0,McMaster University,Social Sciences and Humanities Research Council,"Management, Business, Administrative Studies"
5,"Gill, Tripat",2.0,Wilfrid Laurier University,Social Sciences and Humanities Research Council,"Management, Business, Administrative Studies"
6,"Hackett, Rick",1.0,McMaster University,Social Sciences and Humanities Research Council,"Management, Business, Administrative Studies"
7,"Noseworthy, Theodore",2.0,York University,Social Sciences and Humanities Research Council,"Management, Business, Administrative Studies"
8,"Shkilko, Andriy",2.0,Wilfrid Laurier University,Social Sciences and Humanities Research Council,"Management, Business, Administrative Studies"
9,"Tilcsik, Andras",2.0,University of Toronto,Social Sciences and Humanities Research Council,"Management, Business, Administrative Studies"

In [21]:
df.drop(['Granting Council','Research Discipline'],axis=1, inplace=True)

In [24]:
df

,Name,Tier,University
0,"Bansal, Pratima",1.0,Western University
1,"Bauer, Andrew M",2.0,University of Waterloo
2,"Beamish, Paul",1.0,Western University
3,"Connelly, Brian S.",2.0,University of Toronto
4,"Connelly, Catherine",2.0,McMaster University
5,"Gill, Tripat",2.0,Wilfrid Laurier University
6,"Hackett, Rick",1.0,McMaster University
7,"Noseworthy, Theodore",2.0,York University
8,"Shkilko, Andriy",2.0,Wilfrid Laurier University
9,"Tilcsik, Andras",2.0,University of Toronto
10,NaN,NaN,NaN
11,** Found this 3 professors that maybe suits wi...,NaN,NaN
12,** You can also email to others if their resea...,NaN,NaN